In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3 as sqldatabase

In [2]:
# create a connector
connector = sqldatabase.connect('store.db')

In [3]:
# Select all columns of the table consumer
query = 'SELECT first_name, last_name '
query += 'FROM consumer '
query += "WHERE gender= 'Male'"
df_result = pd.read_sql(query, connector)
display(df_result)

    first_name    last_name
0      Claudio      Presman
1       Silvio    Warrender
2          Dov      Beetham
3       Philip       Baseke
4    Kristofor       Matkin
5       Ragnar     Edgcombe
6        Kylie    Galbraeth
7       Martin        Reoch
8       Tailor      Everill
9        Alain    Roubottom
10       Rikki      Jiracek
11    Raimundo      Wardlow
12       Corby   Chicchetto
13    Sinclare    Domaschke
14      Wilton    Vanichkov
15       Ethan    Hatherley
16     Quinlan     Brookson
17    Eldridge     Tallowin
18      Javier     Falconer
19         Cly       Sherry
20         Dru    Sherbrook
21         Ken        Byard
22      Marlin       Boylan
23       Neale        Wilde
24      Walker       Withur
25       Clywd      Wheaton
26       Jerad   Stefanovic
27      Wolfie   McTrustrie
28        Will       Ousley
29     Gallard      McEniry
..         ...          ...
451   Demetris      McCrory
452  Remington       Gurley
453       Rene      Ivakhno
454       Ange   Oglethorpe
455    Granger       Plaice
456     Tonnie        Handy
457   Thurston      Hanscom
458     Paddie       Jenson
459      Nolan       Orrick
460        Dun    Craigmyle
461       Erek     Gravenor
462      Filip    Gallafant
463    Cornall    Gaitskell
464     Roland     De LIsle
465       Earl     Petegrew
466     Vasily     Schimann
467    Scottie    Freeborne
468      Thane      Trewett
469   Reinhard     Fishburn
470       Lyon        Orpen
471    Vassily        Gagen
472     Weider        Peotz
473    Frannie      Cyseley
474      Moore      Shapero
475   Bernhard        Hugin
476      Eward      Giddens
477     Pepito       Clemes
478       Ryan  Ellingworth
479    Jacques     Chazelas
480   Schuyler       Bedham

[481 rows x 2 columns]

In [4]:
query = "SELECT *"
query += " FROM Consumer"
query += " WHERE age > 40"
df_result = pd.read_sql(query, connector)
display(df_result)

,id,first_name,last_name,email,gender,address,age
0,5,Dov,Beetham,dbeetham5@diigo.com,Male,7826 Corry Center,48
1,8,Joeann,Pickerin,jpickerin8@europa.eu,Female,4 Acker Terrace,51
2,13,Katey,Barrand,kbarrandd@blog.com,Female,5 Manley Circle,59
3,14,Fredi,Andreoletti,fandreolettie@livejournal.com,Female,43 Mosinee Center,56
4,16,Luise,Steers,lsteersg@posterous.com,Female,0 Little Fleur Crossing,49
5,17,Martin,Reoch,mreochh@amazonaws.com,Male,2613 Carey Lane,58
6,20,Shalna,Mercik,smercikk@mtv.com,Female,9 Erie Junction,47
7,21,Rikki,Jiracek,rjiracekl@accuweather.com,Male,8 Kedzie Pass,53
8,23,Leena,Skillett,lskillettn@google.com.br,Female,4049 Westerfield Pass,47
9,24,Corby,Chicchetto,cchicchettoo@cornell.edu,Male,26384 Northfield Point,57
10,25,Lorie,Squibb,lsquibbp@umich.edu,Female,33 Bluestem Point,55
11,26,Mozelle,Dockwra,mdockwraq@economist.com,Female,0 Burrows Road,57
12,28,Avivah,Huffey,ahuffeys@scientificamerican.com,Female,692 Scott Point,59
13,29,Sinclare,Domaschke,sdomaschket@hexun.com,Male,4506 Loeprich Hill,52
14,30,Wilton,Vanichkov,wvanichkovu@chicagotribune.com,Male,0 Hollow Ridge Way,52
15,36,Eldridge,Tallowin,etallowin10@uiuc.edu,Male,327 Paget Place,41
16,37,Hedda,Isakovic,hisakovic11@t-online.de,Female,0480 Chive Point,54
17,38,Elena,Brunner,ebrunner12@theguardian.com,Female,0 Village Green Avenue,41
18,47,Jennee,Bibb,jbibb1b@amazon.com,Female,8 Hoffman Way,41
19,48,Neale,Wilde,nwilde1c@addthis.com,Male,7552 Grayhawk Alley,54
20,50,Devina,Eynald,deynald1e@webs.com,Female,7280 Dayton Road,58
21,54,Roseann,Sandeford,rsandeford1i@alibaba.com,Female,5107 Grayhawk Terrace,41
22,55,Jerad,Stefanovic,jstefanovic1j@ning.com,Male,5 Schiller Lane,42
23,58,Will,Ousley,wousley1m@businessweek.com,Male,98 Clove Plaza,53
24,59,Gallard,McEniry,gmceniry1n@guardian.co.uk,Male,779 Graedel Lane,41
25,60,Jone,Danielut,jdanielut1o@storify.com,Male,2 Drewry Plaza,55
26,62,Wells,Danniell,wdanniell1q@about.com,Male,2 Corscot Junction,58
27,64,Margot,Kinney,mkinney1s@163.com,Female,32135 Kim Circle,53
28,66,Annabela,Dufore,adufore1u@hp.com,Female,33 Dixon Circle,45
29,67,Galen,Parres,gparres1v@nymag.com,Male,37716 Kingsford Trail,58
...,...,...,...,...,...,...,...
436,946,Paddie,Jenson,pjensonqa@cdc.gov,Male,36672 Moose Terrace,54
437,947,Elsinore,Mair,emairqb@mail.ru,Female,169 Anthes Drive,44
438,948,Nolan,Orrick,norrickqc@businessinsider.com,Male,1 Clyde Gallagher Court,48
439,949,Dun,Craigmyle,dcraigmyleqd@ifeng.com,Male,78599 Harper Point,44
440,950,Rebeca,Varrow,rvarrowqe@discovery.com,Female,3489 Riverside Plaza,44
441,952,Filip,Gallafant,fgallafantqg@instagram.com,Male,75 Pankratz Point,43
442,955,Cornall,Gaitskell,cgaitskellqj@taobao.com,Male,70 Badeau Alley,46
443,956,Beverie,Barrass,bbarrassqk@homestead.com,Female,98723 Garrison Alley,41
444,958,Raven,Stubbert,rstubbertqm@people.com.cn,Female,0 Grim Street,53
445,959,Earl,Petegrew,epetegrewqn@illinois.edu,Male,49 Mosinee Junction,43
446,960,Merrill,Gratton,mgrattonqo@whitehouse.gov,Female,0124 Spenser Pass,41
447,961,Vasily,Schimann,vschimannqp@cargocollective.com,Male,035 Kedzie Crossing,51
448,963,Thane,Trewett,ttrewettqr@cafepress.com,Male,43566 Cottonwood Hill,45
449,964,Ricky,Pollett,rpollettqs@hibu.com,Female,6 Banding Park,50
450,966,Evangelina,De Laci,edelaciqu@csmonitor.com,Female,7 Briar Crest Trail,44
451,967,Oralie,Hughesdon,ohughesdonqv@adobe.com,Female,2 Blackbird Place,56
452,969,Lyon,Orpen,lorpenqx@businesswire.com,Male,26611 Magdeline Avenue,57
453,973,Vassily,Gagen,vgagenr1@earthlink.net,Male,79055 Jackson Place,57
454,974,Ruthe,Goulston,rgoulstonr2@dion.ne.jp,Female,065 Northview Plaza,55
455,978,Frannie,Cyseley,fcyseleyr6@1688.com,Male,4 Cody Center,48
456,979,Janaye,Yashunin,jyashuninr7@msu.edu,Female,41 Loomis Road,57
457,980,Aila,Jencey,ajenceyr8@loc.gov,Female,300 Dunning Point,55
458,985,Cosette,Carney,ccarneyrd@blogspot.com,Female,4 Derek Avenue,52
459,986,Kimmie,Vassay,kvassayre@drupal.org,Female,3 Swallow Avenue,45
460,987,Moore,Shapero,mshaperorf@over-blog.com,Male,62079 Carberry Road,58
461,989,Kelci,Millican,kmillicanrh@stumbleupon.com,Female,2 Dovetail Circle,59
462,990,Kendre,Worters,kwortersri@examiner.com,Female,2740 Roxbury Place,58
463,991,Liuka,Crat,lcratrj@blogspot.com,Female,61175 Welch Terrace,41
464,993,Eward,Giddens,egiddensrl@uol.com.br,Male,02272 Westridge Point,46
465,995,Pepito,Clemes,pclemesrn@quantcast.com,Male,67125 Mesta Plaza,47

In [5]:
query = "SELECT *"
query += " FROM Consumer"
query += " WHERE age > 10000"  # just gets the attributes of the table
df_result = pd.read_sql(query, connector)
display(df_result)

Empty DataFrame
Columns: [id, first_name, last_name, email, gender, address, age]
Index: []

In [6]:
query = "SELECT *"
query += " FROM Consumer" 
query += " WHERE age >= 20 AND age <= 30"  # use of AND statement
df_result = pd.read_sql(query, connector)
df_result

,id,first_name,last_name,email,gender,address,age
0,0,Claudio,Presman,cpresman0@sina.com.cn,Male,49741 Stone Corner Trail,30
1,3,Rosene,Dorro,rdorro3@cdbaby.com,Female,472 Bluejay Center,29
2,4,Erica,De Freyne,edefreyne4@tripadvisor.com,Female,7 Corben Circle,28
3,6,Philip,Baseke,pbaseke6@wsj.com,Male,47142 Transport Plaza,22
4,7,Gertie,Umbert,gumbert7@va.gov,Female,7 Cordelia Drive,23
5,10,Ragnar,Edgcombe,redgcombea@amazon.co.uk,Male,6 Cordelia Hill,26
6,11,Kylie,Galbraeth,kgalbraethb@umn.edu,Male,02 Memorial Circle,23
7,18,Tailor,Everill,teverilli@house.gov,Male,1 Lakewood Drive,24
8,19,Alain,Roubottom,aroubottomj@hatena.ne.jp,Male,542 Rigney Center,20
9,27,Robby,Whetnall,rwhetnallr@umich.edu,Female,7623 Northland Parkway,24
10,32,Candace,Rappa,crappaw@hubpages.com,Female,4730 Continental Terrace,25
11,34,Sallie,Hartless,shartlessy@utexas.edu,Female,7580 Nelson Junction,29
12,39,Javier,Falconer,jfalconer13@devhub.com,Male,1767 Heath Drive,22
13,40,Cly,Sherry,csherry14@moonfruit.com,Male,9 Mayer Circle,29
14,42,Ken,Byard,kbyard16@google.es,Male,63 Iowa Pass,22
15,44,Emili,Angrock,eangrock18@tinypic.com,Female,362 Melrose Trail,29
16,51,Clywd,Wheaton,cwheaton1f@ebay.com,Male,474 Grasskamp Lane,23
17,61,Thomasina,Shearer,tshearer1p@dailymotion.com,Female,559 Raven Crossing,22
18,65,Jamie,Twidell,jtwidell1t@squarespace.com,Female,36 Russell Circle,26
19,74,Giulia,Simonetti,gsimonetti22@netvibes.com,Female,40989 Hudson Plaza,28
20,80,Jamison,Roblin,jroblin28@freewebs.com,Male,66955 Roxbury Street,20
21,85,Cindy,Lumber,clumber2d@rambler.ru,Female,5807 Blackbird Avenue,26
22,87,Noelani,Dymocke,ndymocke2f@skyrock.com,Female,9050 Huxley Parkway,29
23,92,Tadio,Attac,tattac2k@reuters.com,Male,80 Cascade Pass,20
24,95,Kore,Pappi,kpappi2n@businessinsider.com,Female,361 Canary Junction,26
25,98,Reggy,Garter,rgarter2q@miibeian.gov.cn,Male,75019 Clemons Point,24
26,99,Aristotle,Inglish,ainglish2r@ed.gov,Male,7 Badeau Street,25
27,108,Jacky,Cullrford,jcullrford30@wordpress.org,Female,8390 North Lane,27
28,111,Cody,Tolomelli,ctolomelli33@sourceforge.net,Male,6 Melody Park,22
29,114,Faith,Kosel,fkosel36@yahoo.co.jp,Female,39043 Colorado Parkway,22
...,...,...,...,...,...,...,...
251,906,Duncan,Badger,dbadgerp6@dot.gov,Male,6668 Burning Wood Trail,22
252,908,Bianca,Leinthall,bleinthallp8@ibm.com,Female,18 Melrose Place,30
253,912,Joyan,Surgeon,jsurgeonpc@geocities.com,Female,9 Longview Parkway,22
254,913,Robinson,Barling,rbarlingpd@gmpg.org,Male,87 Grayhawk Plaza,20
255,915,Quinn,Faustian,qfaustianpf@infoseek.co.jp,Male,089 Fairview Road,21
256,916,Nikolos,Gait,ngaitpg@chicagotribune.com,Male,2482 Maple Wood Junction,25
257,918,Jody,Simenel,jsimenelpi@admin.ch,Female,81282 Delaware Pass,26
258,922,Tris,Harback,tharbackpm@google.it,Male,863 Barby Trail,30
259,923,Adi,Imlacke,aimlackepn@washington.edu,Female,02 Sherman Road,30
260,924,Flossie,Tooke,ftookepo@nyu.edu,Female,781 Rutledge Trail,23
261,926,Miller,Tyne,mtynepq@desdev.cn,Male,2 Blue Bill Park Drive,22
262,927,Binni,Weson,bwesonpr@mashable.com,Female,34945 Vahlen Trail,20
263,929,Jill,Copestake,jcopestakept@umn.edu,Female,6 Burning Wood Hill,24
264,935,Thomas,Gouley,tgouleypz@earthlink.net,Male,0 Crownhardt Hill,21
265,936,Demetris,McCrory,dmccroryq0@nydailynews.com,Male,0 Fremont Circle,30
266,937,Cordelie,Mawtus,cmawtusq1@tiny.cc,Female,1834 Waywood Way,25
267,939,Zelda,Vango,zvangoq3@dell.com,Female,729 Tony Center,30
268,951,Erek,Gravenor,egravenorqf@netscape.com,Male,35 Pankratz Hill,27
269,953,Irita,Whyborn,iwhybornqh@youtu.be,Female,10 Independence Circle,26
270,954,Luz,Wettern,lwetternqi@barnesandnoble.com,Female,0 Forest Dale Alley,27
271,970,Mersey,Gaitskell,mgaitskellqy@i2i.jp,Female,2 Village Green Terrace,29
272,971,Lenora,MacDuffie,lmacduffieqz@slate.com,Female,83685 Redwing Avenue,27
273,975,Dannye,Braunton,dbrauntonr3@smugmug.com,Female,94263 Coolidge Place,22
274,976,Weider,Peotz,wpeotzr4@netscape.com,Male,164 Dennis Way,24
275,977,Nanny,Davidowich,ndavidowichr5@rediff.com,Female,69912 Sunnyside Crossing,25
276,982,Ilse,Scoles,iscolesra@noaa.gov,Female,3 Graceland Way,30
277,984,Mirella,Osburn,mosburnrc@wikispaces.com,Female,0 Birchwood Parkway,26
278,988,Rakel,Hawtin,rhawtinrg@state.gov,Female,05815 Old Shore Terrace,20
279,997,Ryan,Ellingworth,rellingworthrp@symantec.com,Male,273 Prairie Rose Road,29
280,999,Schuyler,Bedham,sbedhamrr@smh.com.au,Male,99 Pennsylvania Lane,22

In [7]:
query = "SELECT *"
query += " FROM Consumer"
query += " WHERE last_name = 'Clemes'"
df_result = pd.read_sql(query,connector)
df_result

,id,first_name,last_name,email,gender,address,age
0,995,Pepito,Clemes,pclemesrn@quantcast.com,Male,67125 Mesta Plaza,47

In [8]:
query = "SELECT *"
query += " FROM Consumer"
query += " WHERE age > 40"
query += " ORDER BY age"  # add DESC for descending order
df_result = pd.read_sql(query,connector)
df_result

,id,first_name,last_name,email,gender,address,age
0,36,Eldridge,Tallowin,etallowin10@uiuc.edu,Male,327 Paget Place,41
1,38,Elena,Brunner,ebrunner12@theguardian.com,Female,0 Village Green Avenue,41
2,47,Jennee,Bibb,jbibb1b@amazon.com,Female,8 Hoffman Way,41
3,54,Roseann,Sandeford,rsandeford1i@alibaba.com,Female,5107 Grayhawk Terrace,41
4,59,Gallard,McEniry,gmceniry1n@guardian.co.uk,Male,779 Graedel Lane,41
5,75,Inglebert,Haymes,ihaymes23@statcounter.com,Male,98547 Brickson Park Center,41
6,103,Diannne,Brundle,dbrundle2v@e-recht24.de,Female,53132 Roth Pass,41
7,107,Uriah,Boyet,uboyet2z@comcast.net,Male,74 Independence Center,41
8,163,Ludwig,Patriche,lpatriche4j@arstechnica.com,Male,1 Continental Place,41
9,177,Witty,Druery,wdruery4x@sphinn.com,Male,0 Lindbergh Court,41
10,180,Rennie,Lempertz,rlempertz50@soundcloud.com,Female,94435 Fairview Street,41
11,260,Darnall,Leisman,dleisman78@angelfire.com,Male,1732 Crowley Crossing,41
12,297,Henrietta,Martyntsev,hmartyntsev89@oracle.com,Female,243 Derek Lane,41
13,329,Monti,Dancer,mdancer95@shutterfly.com,Male,590 Little Fleur Court,41
14,336,Gunar,Helix,ghelix9c@jugem.jp,Male,2679 Killdeer Center,41
15,365,Ainslie,McKeand,amckeanda5@fda.gov,Female,6313 Holy Cross Parkway,41
16,379,Denys,Bourget,dbourgetaj@wikispaces.com,Female,3614 Graceland Plaza,41
17,393,Shoshana,Brocklesby,sbrocklesbyax@sourceforge.net,Female,84615 Hansons Place,41
18,461,Devland,Turbefield,dturbefieldct@bizjournals.com,Male,90525 Hovde Parkway,41
19,469,Lolly,Cream,lcreamd1@cyberchimps.com,Female,74177 Eagle Crest Circle,41
20,540,Jdavie,Moorton,jmoortonf0@engadget.com,Male,9142 Myrtle Terrace,41
21,543,Gun,Da Costa,gdacostaf3@army.mil,Male,12687 Clemons Hill,41
22,598,Kayla,Dawidman,kdawidmangm@usda.gov,Female,471 Mayfield Avenue,41
23,604,Kay,Gallant,kgallantgs@usatoday.com,Female,94099 Elmside Road,41
24,606,Holli,Pallasch,hpallaschgu@msu.edu,Female,1434 Union Junction,41
25,688,Leann,Keys,lkeysj4@va.gov,Female,4 Holy Cross Point,41
26,798,Dorothea,Bailes,dbailesm6@de.vu,Female,98255 Arkansas Plaza,41
27,854,Cris,Bartram,cbartramnq@intel.com,Female,3250 Little Fleur Road,41
28,870,Bea,Schettini,bschettinio6@vistaprint.com,Female,993 Stone Corner Drive,41
29,881,Bengt,Buey,bbueyoh@geocities.com,Male,46244 Kensington Terrace,41
...,...,...,...,...,...,...,...
436,822,Chic,Ouldcott,couldcottmu@ifeng.com,Male,72 Rieder Road,59
437,833,Tedi,Philipsen,tphilipsenn5@paginegialle.it,Female,44 Basil Circle,59
438,864,Natty,Balham,nbalhamo0@examiner.com,Male,699 Redwing Lane,59
439,882,Elisha,Corkan,ecorkanoi@amazon.de,Male,5 Cascade Alley,59
440,989,Kelci,Millican,kmillicanrh@stumbleupon.com,Female,2 Dovetail Circle,59
441,118,Idalia,Kramer,ikramer3a@google.de,Female,72512 Scofield Plaza,60
442,124,Christy,Sivyour,csivyour3g@buzzfeed.com,Female,87 4th Plaza,60
443,145,Kacie,Trim,ktrim41@goo.ne.jp,Female,22731 Mendota Road,60
444,184,Fletcher,Maskall,fmaskall54@ibm.com,Male,0 American Center,60
445,194,Elbertina,Davoren,edavoren5e@artisteer.com,Female,64 Park Meadow Street,60
446,211,Joanne,Madgett,jmadgett5v@deviantart.com,Female,99459 Darwin Center,60
447,284,Albert,Astley,aastley7w@aol.com,Male,0 Gulseth Crossing,60
448,377,Geneva,Minkin,gminkinah@instagram.com,Female,545 Loftsgordon Parkway,60
449,412,Nicola,Spinella,nspinellabg@globo.com,Female,6 Jenifer Center,60
450,467,Berri,Scotchbrook,bscotchbrookcz@bandcamp.com,Female,0 Vidon Place,60
451,473,Mady,Pallant,mpallantd5@gnu.org,Female,94733 Clove Parkway,60
452,516,Deanne,Claris,dclarisec@alexa.com,Female,8137 Sheridan Point,60
453,524,Dolley,Neeson,dneesonek@pagesperso-orange.fr,Female,465 Village Green Hill,60
454,590,Isabelita,Nursey,inurseyge@sohu.com,Female,489 Cascade Alley,60
455,615,Florance,Hodges,fhodgesh3@wp.com,Female,90734 Springs Point,60
456,660,Electra,Clyma,eclymaic@liveinternet.ru,Female,532 Ridgeway Crossing,60
457,665,Janella,Kemwal,jkemwalih@imdb.com,Female,29630 Reinke Alley,60
458,721,Esme,Swinnard,eswinnardk1@miibeian.gov.cn,Female,74 Dexter Crossing,60
459,735,Deny,Cripwell,dcripwellkf@illinois.edu,Female,8000 Southridge Drive,60
460,749,Coral,Wordsley,cwordsleykt@pinterest.com,Female,90947 Utah Center,60
461,769,Mary,Matitiaho,mmatitiahold@craigslist.org,Female,8314 Tomscot Pass,60
462,823,Domingo,Dunston,ddunstonmv@craigslist.org,Male,773 Elka Alley,60
463,893,Lola,Halversen,lhalversenot@usgs.gov,Female,51 Erie Place,60
464,910,Dimitri,MacCrann,dmaccrannpa@columbia.edu,Male,859 Donald Crossing,60
465,932,Ethelyn,Jelk,ejelkpw@google.nl,Female,830 Ridgeway Point,60

In [9]:
query = "SELECT gender, AVG(age), count(*)"
query += " FROM Consumer"
query += " GROUP BY gender"
query += " HAVING count(*) < 500"  # HAVING function
df_result = pd.read_sql(query,connector)
df_result

  gender   AVG(age)  count(*)
0   Male  38.904366       481

In [10]:
query = "SELECT C.last_name, C.age"
query += " FROM Consumer C"
query += " WHERE C.age > 30"
df_result = pd.read_sql(query,connector)
df_result

       last_name  age
0       Ridewood   35
1      Warrender   36
2        Beetham   48
3       Pickerin   51
4         Matkin   35
5         Storck   35
6        Barrand   59
7    Andreoletti   56
8      Tolumello   35
9         Steers   49
10         Reoch   58
11        Mercik   47
12       Jiracek   53
13       Wardlow   32
14      Skillett   47
15    Chicchetto   57
16        Squibb   55
17       Dockwra   57
18        Huffey   59
19     Domaschke   52
20     Vanichkov   52
21     Hatherley   35
22    Antoszczyk   33
23      Brookson   33
24      Tallowin   41
25      Isakovic   54
26       Brunner   41
27     Sherbrook   38
28          Simo   39
29         Frith   38
..           ...  ...
689      Gratton   41
690     Schimann   51
691    Freeborne   33
692      Trewett   45
693      Pollett   50
694     Fishburn   32
695      De Laci   44
696    Hughesdon   56
697       Reedie   38
698        Orpen   57
699       Mizzen   39
700        Gagen   57
701     Goulston   55
702      Cyseley   48
703     Yashunin   57
704       Jencey   55
705     Gormally   33
706    Titterell   34
707       Carney   52
708       Vassay   45
709      Shapero   58
710     Millican   59
711      Worters   58
712         Crat   41
713        Hugin   31
714      Giddens   46
715     Brozsset   38
716       Clemes   47
717       Musico   31
718     Chazelas   36

[719 rows x 2 columns]

In [11]:
query = "SELECT Purchase.*, Consumer.last_name, Consumer.age"
query += " FROM Consumer\
 INNER JOIN Purchase"
query += " ON Consumer.id=Purchase.consumer_id"
df_result = pd.read_sql(query,connector)
df_result

      product_id  consumer_id  quantity                 date    last_name  age
0            162          702         3  01/13/2012 11:45 AM       Dyment   49
1            294          503        57  06/25/2008 06:05 PM      Sushams   23
2            135          675        75  01/15/2008 05:16 PM       Lorenc   55
3             67          547        94  09/06/2014 02:49 AM        Ewols   23
4             61          543        37  07/06/2011 01:49 PM     Da Costa   41
5            275            8        50  08/18/2014 04:17 PM     Pickerin   51
6            165          959        27  05/16/2014 07:19 AM     Petegrew   43
7            265          393        18  01/23/2016 04:56 AM   Brocklesby   41
8            184           95        55  06/13/2008 06:12 AM        Pappi   26
9            240          871        71  10/20/2012 04:30 PM       Edscer   37
10           263          439        55  01/24/2008 06:05 AM     Redbourn   35
11            37          963        87  11/29/2013 02:09 AM      Trewett   45
12           176          678        81  03/10/2008 08:25 PM       Wannan   35
13           191            0        48  02/01/2010 03:05 AM      Presman   30
14           105          762        47  03/27/2011 03:59 PM      Fritter   31
15           114          101        42  07/18/2015 11:18 AM     Kaesmans   58
16           199          336        62  04/11/2017 07:46 AM        Helix   41
17           258          532        44  12/19/2011 12:00 PM      Yarrell   29
18           173           88        20  08/22/2014 10:44 PM        Kahan   42
19            30          156        86  05/10/2017 10:29 PM      Olekhov   27
20            47          714        31  01/12/2012 06:13 PM         Blum   29
21           297          604        69  01/13/2015 01:19 AM      Gallant   41
22           134          738        39  09/23/2015 03:21 PM       Carney   33
23           238          912        32  02/20/2009 10:28 AM      Surgeon   22
24           205          596        46  10/06/2008 04:31 PM   Hamberston   21
25           268          184        86  03/08/2015 04:05 AM      Maskall   60
26            77          737        44  09/12/2012 03:46 PM    Rosettini   20
27           199          212        64  03/14/2016 03:01 AM       Duigan   49
28            56          463        14  08/06/2017 11:31 AM      Wohlers   22
29           219          212        35  09/11/2008 11:14 PM       Duigan   49
...          ...          ...       ...                  ...          ...  ...
2310         144           25        80  08/13/2012 11:12 AM       Squibb   55
2311          49          608        31  09/23/2015 03:31 AM      Lambdon   56
2312          79           69        11  05/13/2008 12:37 PM    Bearsmore   56
2313         178          884        37  08/03/2012 11:11 AM        Greet   35
2314          75          764        45  03/05/2013 06:30 PM       Coombe   40
2315         201          777        49  09/26/2014 11:52 PM     MacAskie   26
2316         231          473        69  12/03/2013 02:55 AM      Pallant   60
2317         206          993        23  04/29/2015 11:42 PM      Giddens   46
2318         287          690        84  12/27/2011 01:15 AM   Wippermann   23
2319         233          650        29  07/06/2013 09:43 AM       Curran   35
2320           0           30        44  07/16/2017 10:09 AM    Vanichkov   52
2321         251          561        52  01/10/2012 04:59 AM         Nehl   36
2322         150          496        53  03/14/2014 11:41 PM     Scollain   28
2323         293           64        88  02/26/2014 04:52 PM       Kinney   53
2324          20          401        32  11/10/2014 02:26 AM       Yearne   38
2325         141          202        80  10/29/2017 11:30 PM    Hankinson   23
2326          28          260        34  10/11/2010 12:55 PM      Leisman   41
2327          85          736        97  03/07/2012 05:04 PM     Hackinge   55
2328         182          835       100  05/27/2011 02:07 PM       Pettko   52
2329          13          325        23  03/14/2012 01:18 PM    Speariett   37
2330          86          913        49  06/29/2012 01:17 PM      Barling   20
2331         109          541        83  12/02/2016 06:33 AM       Brooks   46
2332         158          227        10  12/26/2013 12:47 PM     Warstall   57
2333         179           29        93  04/23/2010 01:48 AM    Domaschke   52
2334         153          886        98  08/31/2011 10:59 PM         Kunc   38
2335          41          974         4  03/23/2010 01:26 PM     Goulston   55
2336         297          327        62  05/24/2013 10:08 PM      Bendell   54
2337         181          708         2  12/10/2011 02:09 PM     Spilsted   26
2338          60          585        93  04/26/2012 10:35 AM  Netherclift   24
2339         189          864        85  05/17/2012 10:12 AM       Balham   59

[2340 rows x 6 columns]

In [12]:
query = "SELECT *"
query += " FROM Consumer"
query += " WHERE age > 40"  # HAVING function

query += " INTERSECT"  # we can use intersects!
query += " SELECT *"
query += " FROM Consumer"
query += " WHERE age < 60"  # HAVING function

df_result = pd.read_sql(query,connector)
df_result

,id,first_name,last_name,email,gender,address,age
0,5,Dov,Beetham,dbeetham5@diigo.com,Male,7826 Corry Center,48
1,8,Joeann,Pickerin,jpickerin8@europa.eu,Female,4 Acker Terrace,51
2,13,Katey,Barrand,kbarrandd@blog.com,Female,5 Manley Circle,59
3,14,Fredi,Andreoletti,fandreolettie@livejournal.com,Female,43 Mosinee Center,56
4,16,Luise,Steers,lsteersg@posterous.com,Female,0 Little Fleur Crossing,49
5,17,Martin,Reoch,mreochh@amazonaws.com,Male,2613 Carey Lane,58
6,20,Shalna,Mercik,smercikk@mtv.com,Female,9 Erie Junction,47
7,21,Rikki,Jiracek,rjiracekl@accuweather.com,Male,8 Kedzie Pass,53
8,23,Leena,Skillett,lskillettn@google.com.br,Female,4049 Westerfield Pass,47
9,24,Corby,Chicchetto,cchicchettoo@cornell.edu,Male,26384 Northfield Point,57
10,25,Lorie,Squibb,lsquibbp@umich.edu,Female,33 Bluestem Point,55
11,26,Mozelle,Dockwra,mdockwraq@economist.com,Female,0 Burrows Road,57
12,28,Avivah,Huffey,ahuffeys@scientificamerican.com,Female,692 Scott Point,59
13,29,Sinclare,Domaschke,sdomaschket@hexun.com,Male,4506 Loeprich Hill,52
14,30,Wilton,Vanichkov,wvanichkovu@chicagotribune.com,Male,0 Hollow Ridge Way,52
15,36,Eldridge,Tallowin,etallowin10@uiuc.edu,Male,327 Paget Place,41
16,37,Hedda,Isakovic,hisakovic11@t-online.de,Female,0480 Chive Point,54
17,38,Elena,Brunner,ebrunner12@theguardian.com,Female,0 Village Green Avenue,41
18,47,Jennee,Bibb,jbibb1b@amazon.com,Female,8 Hoffman Way,41
19,48,Neale,Wilde,nwilde1c@addthis.com,Male,7552 Grayhawk Alley,54
20,50,Devina,Eynald,deynald1e@webs.com,Female,7280 Dayton Road,58
21,54,Roseann,Sandeford,rsandeford1i@alibaba.com,Female,5107 Grayhawk Terrace,41
22,55,Jerad,Stefanovic,jstefanovic1j@ning.com,Male,5 Schiller Lane,42
23,58,Will,Ousley,wousley1m@businessweek.com,Male,98 Clove Plaza,53
24,59,Gallard,McEniry,gmceniry1n@guardian.co.uk,Male,779 Graedel Lane,41
25,60,Jone,Danielut,jdanielut1o@storify.com,Male,2 Drewry Plaza,55
26,62,Wells,Danniell,wdanniell1q@about.com,Male,2 Corscot Junction,58
27,64,Margot,Kinney,mkinney1s@163.com,Female,32135 Kim Circle,53
28,66,Annabela,Dufore,adufore1u@hp.com,Female,33 Dixon Circle,45
29,67,Galen,Parres,gparres1v@nymag.com,Male,37716 Kingsford Trail,58
...,...,...,...,...,...,...,...
411,946,Paddie,Jenson,pjensonqa@cdc.gov,Male,36672 Moose Terrace,54
412,947,Elsinore,Mair,emairqb@mail.ru,Female,169 Anthes Drive,44
413,948,Nolan,Orrick,norrickqc@businessinsider.com,Male,1 Clyde Gallagher Court,48
414,949,Dun,Craigmyle,dcraigmyleqd@ifeng.com,Male,78599 Harper Point,44
415,950,Rebeca,Varrow,rvarrowqe@discovery.com,Female,3489 Riverside Plaza,44
416,952,Filip,Gallafant,fgallafantqg@instagram.com,Male,75 Pankratz Point,43
417,955,Cornall,Gaitskell,cgaitskellqj@taobao.com,Male,70 Badeau Alley,46
418,956,Beverie,Barrass,bbarrassqk@homestead.com,Female,98723 Garrison Alley,41
419,958,Raven,Stubbert,rstubbertqm@people.com.cn,Female,0 Grim Street,53
420,959,Earl,Petegrew,epetegrewqn@illinois.edu,Male,49 Mosinee Junction,43
421,960,Merrill,Gratton,mgrattonqo@whitehouse.gov,Female,0124 Spenser Pass,41
422,961,Vasily,Schimann,vschimannqp@cargocollective.com,Male,035 Kedzie Crossing,51
423,963,Thane,Trewett,ttrewettqr@cafepress.com,Male,43566 Cottonwood Hill,45
424,964,Ricky,Pollett,rpollettqs@hibu.com,Female,6 Banding Park,50
425,966,Evangelina,De Laci,edelaciqu@csmonitor.com,Female,7 Briar Crest Trail,44
426,967,Oralie,Hughesdon,ohughesdonqv@adobe.com,Female,2 Blackbird Place,56
427,969,Lyon,Orpen,lorpenqx@businesswire.com,Male,26611 Magdeline Avenue,57
428,973,Vassily,Gagen,vgagenr1@earthlink.net,Male,79055 Jackson Place,57
429,974,Ruthe,Goulston,rgoulstonr2@dion.ne.jp,Female,065 Northview Plaza,55
430,978,Frannie,Cyseley,fcyseleyr6@1688.com,Male,4 Cody Center,48
431,979,Janaye,Yashunin,jyashuninr7@msu.edu,Female,41 Loomis Road,57
432,980,Aila,Jencey,ajenceyr8@loc.gov,Female,300 Dunning Point,55
433,985,Cosette,Carney,ccarneyrd@blogspot.com,Female,4 Derek Avenue,52
434,986,Kimmie,Vassay,kvassayre@drupal.org,Female,3 Swallow Avenue,45
435,987,Moore,Shapero,mshaperorf@over-blog.com,Male,62079 Carberry Road,58
436,989,Kelci,Millican,kmillicanrh@stumbleupon.com,Female,2 Dovetail Circle,59
437,990,Kendre,Worters,kwortersri@examiner.com,Female,2740 Roxbury Place,58
438,991,Liuka,Crat,lcratrj@blogspot.com,Female,61175 Welch Terrace,41
439,993,Eward,Giddens,egiddensrl@uol.com.br,Male,02272 Westridge Point,46
440,995,Pepito,Clemes,pclemesrn@quantcast.com,Male,67125 Mesta Plaza,47

In [13]:
query = "SELECT  last_name as 'LAST NAME', age, Gender, AVG(price) AS 'Avg. price of Purchased Products', SUM(price*quantity) AS 'Total amount spent in store' "
query += " FROM Consumer c INNER JOIN Purchase p INNER JOIN Product pro"
query += " ON c.id = p.consumer_id AND pro.id=p.product_id"
query += " GROUP BY c.id"
df_result = pd.read_sql(query,connector)
df_result

,LAST NAME,age,gender,Avg. price of Purchased Products,Total amount spent in store
0,Presman,30,Male,3.483333,545.90
1,Ridewood,35,Female,11.896667,1405.30
2,Dorro,29,Female,0.970000,62.08
3,De Freyne,28,Female,6.636667,489.22
4,Beetham,48,Male,4.595000,234.99
5,Baseke,22,Male,16.165000,2545.86
6,Umbert,23,Female,12.540000,1053.36
7,Pickerin,51,Female,6.670000,988.89
8,Matkin,35,Male,5.125000,721.31
9,Edgcombe,26,Male,8.925000,2075.94
10,Storck,35,Female,18.710000,467.75
11,Tolumello,35,Female,13.093333,2320.44
12,Steers,49,Female,0.500000,8.00
13,Reoch,58,Male,8.155714,4134.59
14,Everill,24,Male,1.910000,95.50
15,Roubottom,20,Male,5.010000,637.47
16,Mercik,47,Female,6.710000,1193.16
17,Jiracek,53,Male,5.030000,669.33
18,Wardlow,32,Male,10.877500,2278.07
19,Skillett,47,Female,6.235000,2119.02
20,Chicchetto,57,Male,11.302000,3591.80
21,Squibb,55,Female,10.606000,3797.48
22,Dockwra,57,Female,7.575000,710.01
23,Whetnall,24,Female,5.750000,461.90
24,Huffey,59,Female,2.960000,216.08
25,Domaschke,52,Male,13.231667,4506.03
26,Vanichkov,52,Male,15.985000,1474.72
27,Hatherley,35,Male,1.380000,36.98
28,Rappa,25,Female,5.860000,210.96
29,Antoszczyk,33,Female,12.670000,2416.03
...,...,...,...,...,...
880,Orpen,57,Male,9.897500,3545.64
881,Gaitskell,29,Female,15.127500,4079.50
882,MacDuffie,27,Female,4.380000,310.98
883,Mizzen,39,Female,0.660000,48.18
884,Gagen,57,Male,7.795000,476.22
885,Goulston,55,Female,10.853333,5781.71
886,Peotz,24,Male,15.070000,304.00
887,Davidowich,25,Female,12.540000,438.90
888,Cyseley,48,Male,4.230000,582.66
889,Yashunin,57,Female,16.046667,2561.92
890,Jencey,55,Female,9.755000,1634.18
891,Gormally,33,Female,7.060000,261.22
892,Scoles,30,Female,5.610000,400.88
893,Titterell,34,Female,3.127500,464.87
894,Osburn,26,Female,3.020000,187.24
895,Carney,52,Female,12.375000,356.54
896,Vassay,45,Female,10.018000,1927.68
897,Shapero,58,Male,5.416000,1497.27
898,Hawtin,20,Female,7.020000,245.70
899,Millican,59,Female,7.644000,2222.99
900,Worters,58,Female,19.705000,3231.71
901,Crat,41,Female,5.170000,1769.13
902,Hugin,31,Male,6.530000,959.97
903,Giddens,46,Male,9.203333,1169.56
904,Brozsset,38,Female,19.716667,4594.39
905,Clemes,47,Male,4.350000,239.25
906,Musico,31,Female,11.000000,1234.40
907,Ellingworth,29,Male,10.204000,1979.26
908,Chazelas,36,Male,1.630000,138.55
909,Bedham,22,Male,10.000000,880.00